ion-content ion-toolbar {
  --background: transparent;
}

.map-canvas {
  height: 100%;
  width: 100%;
}

ion-router-outlet ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}