ion-content ion-toolbar {
  --background: transparent;
}

:root {
  --ion-color-bb: #007f00;
  --ion-color-bb-rgb: 0, 127, 0;
  --ion-color-bb-contrast: #ffffff;
  --ion-color-bb-contrast-rgb: 255, 255, 255;
  --ion-color-bb-shade: #007000;
  --ion-color-bb-tint: #1a8c1a;
}

.ion-color-bb {
  --ion-color-base: var(--ion-color-bb);
  --ion-color-base-rgb: var(--ion-color-bb-rgb);
  --ion-color-contrast: var(--ion-color-bb-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bb-contrast-rgb);
  --ion-color-shade: var(--ion-color-bb-shade);
  --ion-color-tint: var(--ion-color-bb-tint);
}
:root {
  --ion-color-cn: #9933ff;
  --ion-color-cn-rgb: 153, 51, 255;
  --ion-color-cn-contrast: #ffffff;
  --ion-color-cn-contrast-rgb: 255, 255, 255;
  --ion-color-cn-shade: #872de0;
  --ion-color-cn-tint: #a347ff;
}

.ion-color-cn {
  --ion-color-base: var(--ion-color-cn);
  --ion-color-base-rgb: var(--ion-color-cn-rgb);
  --ion-color-contrast: var(--ion-color-cn-contrast);
  --ion-color-contrast-rgb: var(--ion-color-cn-contrast-rgb);
  --ion-color-shade: var(--ion-color-cn-shade);
  --ion-color-tint: var(--ion-color-cn-tint);
}

:root {
  --ion-color-cs: #3400ff;
  --ion-color-cs-rgb: 52, 0, 255;
  --ion-color-cs-contrast: #ffffff;
  --ion-color-cs-contrast-rgb: 255, 255, 255;
  --ion-color-cs-shade: #2e00e0;
  --ion-color-cs-tint: #481aff;
}

.ion-color-cs {
  --ion-color-base: var(--ion-color-cs);
  --ion-color-base-rgb: var(--ion-color-cs-rgb);
  --ion-color-contrast: var(--ion-color-cs-contrast);
  --ion-color-contrast-rgb: var(--ion-color-cs-contrast-rgb);
  --ion-color-shade: var(--ion-color-cs-shade);
  --ion-color-tint: var(--ion-color-cs-tint);
}

:root {
  --ion-color-csx: #b2eb07;
  --ion-color-csx-rgb: 178, 235, 7;
  --ion-color-csx-contrast: #000000;
  --ion-color-csx-contrast-rgb: 0, 0, 0;
  --ion-color-csx-shade: #9dcf06;
  --ion-color-csx-tint: #baed20;
}

.ion-color-csx {
  --ion-color-base: var(--ion-color-csx);
  --ion-color-base-rgb: var(--ion-color-csx-rgb);
  --ion-color-contrast: var(--ion-color-csx-contrast);
  --ion-color-contrast-rgb: var(--ion-color-csx-contrast-rgb);
  --ion-color-shade: var(--ion-color-csx-shade);
  --ion-color-tint: var(--ion-color-csx-tint);
}

:root {
  --ion-color-dd: #808000;
  --ion-color-dd-rgb: 128, 128, 0;
  --ion-color-dd-contrast: #ffffff;
  --ion-color-dd-contrast-rgb: 255, 255, 255;
  --ion-color-dd-shade: #717100;
  --ion-color-dd-tint: #8d8d1a;
}

.ion-color-dd {
  --ion-color-base: var(--ion-color-dd);
  --ion-color-base-rgb: var(--ion-color-dd-rgb);
  --ion-color-contrast: var(--ion-color-dd-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dd-contrast-rgb);
  --ion-color-shade: var(--ion-color-dd-shade);
  --ion-color-tint: var(--ion-color-dd-tint);
}

:root {
  --ion-color-mx: #ff6600;
  --ion-color-mx-rgb: 255, 102, 0;
  --ion-color-mx-contrast: #000000;
  --ion-color-mx-contrast-rgb: 0, 0, 0;
  --ion-color-mx-shade: #e05a00;
  --ion-color-mx-tint: #ff751a;
}

.ion-color-mx {
  --ion-color-base: var(--ion-color-mx);
  --ion-color-base-rgb: var(--ion-color-mx-rgb);
  --ion-color-contrast: var(--ion-color-mx-contrast);
  --ion-color-contrast-rgb: var(--ion-color-mx-contrast-rgb);
  --ion-color-shade: var(--ion-color-mx-shade);
  --ion-color-tint: var(--ion-color-mx-tint);
}

:root {
  --ion-color-ne: #1cbd11;
  --ion-color-ne-rgb: 28, 189, 17;
  --ion-color-ne-contrast: #ffffff;
  --ion-color-ne-contrast-rgb: 255, 255, 255;
  --ion-color-ne-shade: #19a60f;
  --ion-color-ne-tint: #33c429;
}

.ion-color-ne {
  --ion-color-base: var(--ion-color-ne);
  --ion-color-base-rgb: var(--ion-color-ne-rgb);
  --ion-color-contrast: var(--ion-color-ne-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ne-contrast-rgb);
  --ion-color-shade: var(--ion-color-ne-shade);
  --ion-color-tint: var(--ion-color-ne-tint);
}

:root {
  --ion-color-nw: #990000;
  --ion-color-nw-rgb: 153, 0, 0;
  --ion-color-nw-contrast: #ffffff;
  --ion-color-nw-contrast-rgb: 255, 255, 255;
  --ion-color-nw-shade: #870000;
  --ion-color-nw-tint: #a31a1a;
}

.ion-color-nw {
  --ion-color-base: var(--ion-color-nw);
  --ion-color-base-rgb: var(--ion-color-nw-rgb);
  --ion-color-contrast: var(--ion-color-nw-contrast);
  --ion-color-contrast-rgb: var(--ion-color-nw-contrast-rgb);
  --ion-color-shade: var(--ion-color-nw-shade);
  --ion-color-tint: var(--ion-color-nw-tint);
}

:root {
  --ion-color-nx: #993300;
  --ion-color-nx-rgb: 153, 51, 0;
  --ion-color-nx-contrast: #ffffff;
  --ion-color-nx-contrast-rgb: 255, 255, 255;
  --ion-color-nx-shade: #872d00;
  --ion-color-nx-tint: #a3471a;
}

.ion-color-nx {
  --ion-color-base: var(--ion-color-nx);
  --ion-color-base-rgb: var(--ion-color-nx-rgb);
  --ion-color-contrast: var(--ion-color-nx-contrast);
  --ion-color-contrast-rgb: var(--ion-color-nx-contrast-rgb);
  --ion-color-shade: var(--ion-color-nx-shade);
  --ion-color-tint: var(--ion-color-nx-tint);
}

:root {
  --ion-color-os: #ff9900;
  --ion-color-os-rgb: 255, 153, 0;
  --ion-color-os-contrast: #000000;
  --ion-color-os-contrast-rgb: 0, 0, 0;
  --ion-color-os-shade: #e08700;
  --ion-color-os-tint: #ffa31a;
}

.ion-color-os {
  --ion-color-base: var(--ion-color-os);
  --ion-color-base-rgb: var(--ion-color-os-rgb);
  --ion-color-contrast: var(--ion-color-os-contrast);
  --ion-color-contrast-rgb: var(--ion-color-os-contrast-rgb);
  --ion-color-shade: var(--ion-color-os-shade);
  --ion-color-tint: var(--ion-color-os-tint);
}

:root {
  --ion-color-ws: #ff0000;
  --ion-color-ws-rgb: 255, 0, 0;
  --ion-color-ws-contrast: #ffffff;
  --ion-color-ws-contrast-rgb: 255, 255, 255;
  --ion-color-ws-shade: #e00000;
  --ion-color-ws-tint: #ff1a1a;
}

.ion-color-ws {
  --ion-color-base: var(--ion-color-ws);
  --ion-color-base-rgb: var(--ion-color-ws-rgb);
  --ion-color-contrast: var(--ion-color-ws-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ws-contrast-rgb);
  --ion-color-shade: var(--ion-color-ws-shade);
  --ion-color-tint: var(--ion-color-ws-tint);
}

:root {
  --ion-color-wx: #ff0000;
  --ion-color-wx-rgb: 255, 0, 0;
  --ion-color-wx-contrast: #ffffff;
  --ion-color-wx-contrast-rgb: 255, 255, 255;
  --ion-color-wx-shade: #e00000;
  --ion-color-wx-tint: #ff1a1a;
}

.ion-color-wx {
  --ion-color-base: var(--ion-color-wx);
  --ion-color-base-rgb: var(--ion-color-wx-rgb);
  --ion-color-contrast: var(--ion-color-wx-contrast);
  --ion-color-contrast-rgb: var(--ion-color-wx-contrast-rgb);
  --ion-color-shade: var(--ion-color-wx-shade);
  --ion-color-tint: var(--ion-color-wx-tint);
}
